<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layoutMagement}">

<head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
  <meta charset="UTF-8">
  <title>oh-nong!</title>
  <style type="text/css">
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox  */
    input[type='number'] {
      -moz-appearance: textfield;
    }

    .left-box {
      float: left;
      width: 50%;
    }

    .right-box {
      float: right;
      width: 50%;
    }

    .form-group {
      width: 350px !important;
    }
    
    .table-td {
      font-weight:bold;
    }
  </style>
</head>
</th:block>
<th:block layout:fragment="script">
</th:block>
<div layout:fragment="contentMagement">
  <!-- page content -->
  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
        </div>

      </div>

      <div class="clearfix"></div>

      <div class="row" style="display: block;">

        <div class="clearfix"></div>

        <div class="col-md-12 col-sm-12  ">
        <h3 style="text-align:left"><b>⛺농가 관리</b></h3>
          <div class="x_panel">
            <div class="x_title">
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i
                      class="fa fa-wrench"></i></a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Settings 1</a>
                    <a class="dropdown-item" href="#">Settings 2</a>
                  </div>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
              </ul>
              <div class="clearfix">
              </div>
            </div>

            <div class="x_content">

              <div class="table-responsive">
                <table class="table table-striped jambo_table bulk_action">
                  <thead>
                    <tr class="headings">
                      <th>
                        <input type="checkbox" id="check-all" class="flat">
                      </th>
                      <th class="column-title">No. </th>
                      <th class="column-title">아이디 </th>
                      <th class="column-title">상호(농가명) </th>
                      <th class="column-title">대표명 </th>
                      <th class="column-title">지역 </th>
                      <th class="column-title">농가 승인 여부 </th>
                      <th class="column-title">농가 삭제 </th>
                      <th class="bulk-actions" colspan="7">
                        <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt">
                          </span> ) <i class="fa fa-chevron-down"></i></a>
                      </th>
                    </tr>
                  </thead>

                  <tbody class="farm">
                    <tr class="even pointer" th:each="farmList : ${farmList }" >
                      <td class="a-center ">
                        <input type="checkbox" class="flat" name="table_records">
                      </td>                    
                      <td class="table-td " th:text="${farmList.rn}"></td>
                      <td class="table-td " id="userId" th:text="${farmList.userId}"></td>
                      <td class="table-td " id="farmName" th:text="${farmList.farmName}"></td>
                      <td class="table-td " id="farmCeo" th:text="${farmList.farmCeo}"></td>
                      <td class="table-td " id="farmAddr" th:text="${farmList.farmAddr}"></td>
                        <th:block th:if="${farmList.farmState} == 'N'">
                          <td><button type="button" class="btn btn-warning btn-sm" th:id="signBtn+${farmList.userId}" th:onclick="signBtn([[${farmList.userId}]])"><b>승인 대기</b></button></td>
                        </th:block>
                        <th:block th:if="${farmList.farmState} == 'Y'">
                          <td class="table-td " id="farmState">승인 완료</td>
                        </th:block>
                      
                      <td><button type="button" th:id="deleteBtn+${farmList.userId}" th:onclick="deleteBtn([[${farmList.userId}]])" class="btn btn-danger btn-sm"><b>삭제</b></button></td>
                      <td class="table-td " style="display:none;" id="farmImg2" th:text="${farmList.filePath}"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /page content -->
  
  <!-- insert modal 1 -->
  <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content" style="border: none;">
        <div class="modal-header" style="display: flex; align-items: center; justify-content: space-between; width:100%;height:50px; background-color: #2A3F54;">
          	<h5 class="modal-title" id="myModalLabel" style="color:white; font-weight: bold; ">농지 취득서 확인 </h5>
          	<button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="color:white;">×</button>
        </div>
        
        <div class="modal-body">
          <input type="hidden" class="form-control" id="userId" name="userId" value="" />
	          <img class="img-responsive avatar-view"
	              id="farmImg" name="farmImg"
	              src="" alt="Avatar"
	              title="Change the avatar"
	              style="max-width: 70%; height: auto;">
        </div>
        
        <div class="modal-footer" style="display: flex; align-items: center; justify-content: flex-end; width:100%;height:50px; background-color: #2A3F54;">        
          <button id="modalBtn" type="submit" class="btn btn-warning" style="border: none; font-weight: bold; color:white; background: #035785; height: 30px;">승인</button>
          <button id="modalCloseBtn" type="button" class="btn btn-default" data-dismiss="modal" style="border: none; font-weight: bold; color:white; background: #035785; height: 30px;">보류</button>
        </div>
      </div>
    </div>
  </div>
  <!-- /insert modal -->

  <script>
			// 삭제
			function deleteBtn(userId) {
				let deleteBtn = document.getElementById('deleteBtn' + userId);
				let delTrTag = deleteBtn.parentElement.parentElement;
				
				Swal.fire({
		               title: '삭제하시겠습니까?',
		               text: "다시 되돌릴 수 없습니다. 신중하세요.",
		               icon: 'warning',
		               showCancelButton: true,
		               confirmButtonColor: '#3085d6',
		               cancelButtonColor: '#d33',
		               confirmButtonText: '삭제',
		               cancelButtonText: '취소'
		           }).then((result) => {
		               if (result.isConfirmed) {
		                   
		                   $.ajax({
		                	   type : 'get',
		                       url : "/ohnong/farmDelete/" + userId,
		                       dataType : 'text',
		                       success : function(data) {
		                           console.log(data);
		                           if (data == 'success') {
		                               delTrTag.remove();
		                           const Toast = Swal.mixin({
		                               toast: true,
		                               position: 'center-center',
		                               showConfirmButton: false,
		                               timer: 2000,
		                               timerProgressBar: true,
		                               didOpen: (toast) => {
		                                 toast.addEventListener('mouseenter', Swal.stopTimer)
		                                 toast.addEventListener('mouseleave', Swal.resumeTimer)
		                               }
		                             })
		                             Toast.fire({
		                               icon: 'success',
		                               title: '삭제되었습니다.'
		                             })
		                           } else if(data = 'fail') {
		                               alert("다시 시도 바랍니다.")
		                           }
		                       },
		                       error : function(status, error) {
		                           console.log(status, error);
		                       }
		                   })
		                   
		                   setTimeout("location.reload()", 2000);
		                   Swal.fire(
		                       '삭제가 완료되었습니다.',
		                       'success'
		                   )
		               }
		           })
            }
			
			// 농가 승인 : 대기(N)->완료(Y)
			function signBtn(userId) {
				signBtnBtn = document.getElementById('signBtn' + userId);
				var trTag = signBtnBtn.parentElement.parentElement;
				console.log(trTag);
				
				var modal = $(".modal");
				
				// 입력값
				var modalId = modal.find('input[name="userId"]'); // 기준
				var modalImg = modal.find('input[name="farmImg"]'); // 기준
				
				console.log(trTag.children[8].textContent);
				console.log(modalImg);
				
				modalId.val(trTag.children[2].textContent);
				$('#farmImg').attr('src', '/ohnong/home/ubuntu/etc/' + trTag.children[8].textContent);
				
				$('#myModal').modal("show");
				
				// 처리
				$('#modalBtn').on("click", function() {
					$.ajax({
	                    type : 'get',
	                    url : '/ohnong/signFarmState',
	                    headers : {
	                        'Content-Type' : 'application/json'
	                    },
	                    dataType : 'text',
	                    data : {
	                        "userId" : userId,
	                        "farmState" : "Y"
	                    },
	                    success : function(data) {
	                        console.log(data);
	                        location.reload();
	                    }
	                    ,error : function(status, error) {
	                        console.log(status);
	                        console.log(error);
	                    }
	                })
			    })
			}
			
			$(document).ready(function () {
			
			})
			
  </script>
</div>