<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layoutMagement}">
<head>
<meta charset="UTF-8">
<title>oh-nong!</title>
<style>
.find-btn{
    text-align: center;
}
.find-btn1{
    display :inline-block;
}
.label-align {
    text-align: left;
}
</style>
</head>
</th:block>
<th:block layout:fragment="script">
</th:block>
<div layout:fragment="contentMagement">

    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 ">
                <h3 style="text-align:left"><b>👨‍🌾 정보 수정</b></h3>
                    <div class="x_panel">
                        <div class="x_title">
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i
                                        class="fa fa-chevron-up"></i></a></li>
                                <li class="dropdown"><a href="#" class="dropdown-toggle"
                                    data-toggle="dropdown" role="button" aria-expanded="false"><i
                                        class="fa fa-wrench"></i></a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#">Settings 1</a> <a
                                            class="dropdown-item" href="#">Settings 2</a>
                                    </div></li>
                                <li><a class="close-link"><i class="fa fa-close"></i></a></li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                                <form name="form" th:role="form" th:action="@{memberMod}" method="POST" enctype="multipart/form-data" >
                                 <table>
                                        <tbody>
                                            <tr th:each="memberInfo : ${memberList}">
                            <div class="col-md-3 col-sm-3  profile_left">
                                <div class="profile_img">
                                    <div id="crop-avatar">
                                        <!-- Current avatar -->
                                        <img class="img-responsive avatar-view" id="fileName" name ="fileName"
                                            th:src="|/ohnong/home/ubuntu/etc/${memberInfo.filePath}|" alt="Avatar"
                                            title="Change the avatar"
                                            style="max-width: 70%; height: auto;">
                                    </div>
                                    <br>
                                    	
                                        <label for="profileImg1"><a class="btn btn-success" style="color:white; margin: 0 50px;"><i class="fa fa-edit m-right-xs"></i><b>프로필 사진 등록</b></a></label> 
                                        <input type="file" id="profileImg1" name="profileImg1" onchange="profileImg()" style="display:none" th:value="${memberInfo.filePath}">
                                        <br>
                                </div>
                                        <button type="button" class="btn btn-danger" id="pwModBtn" style="color:white; margin: 0 50px; width: 153px"><i class="fa fa-ban"></i><b>비밀번호 변경</b></button>                              		
                                <br>
                            </div>
                            <div class="col-md-9 col-sm-9 ">                            
                                   
                                                <div class="field item form-group">
                                                    <label class="col-form-label col-md-1 col-sm-3 label-align"><b>아이디</b><span
                                                        class="required">*</span></label>
                                                    <div class="col-md-6 col-sm-6">
                                                        <input class="form-control"
                                                            th:value="${memberInfo.userId}" id="userId" name="userId" readonly />
                                                    </div>
                                                </div>
                                                <br>

												<div class="field item form-group">
                                                    <label class="col-form-label col-md-1 col-sm-3 label-align"><b>이름</b><span
                                                        class="required">*</span></label>
                                                    <div class="col-md-6 col-sm-6">
                                                        <input class="form-control"
                                                            th:value="${memberInfo.Name}" readonly />
                                                    </div>
                                                </div>
                                                <br>

                                                <div class="field item form-group">
                                                    <label class="col-form-label col-md-1 col-sm-3 label-align"><b>주소</b><span
                                                        class="required">*</span></label>
                                                    <div class="col-md-6 col-sm-6">
                                                        <input class="col-md-10 col-sm-12 form-control"
                                                            th:value="${memberInfo.userAddr}" id="userAddr" name="userAddr" />
                                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                        <button type="button" class="btn btn-success"  th:onclick="execDaumPostcode()"><b>검색</b></button>
                                                    </div>
                                                </div>
                                                <br>
                                                
                                                <div class="field item form-group">
                                                    <label class="col-form-label col-md-1 col-sm-3 label-align"><b>이메일</b><span
                                                        class="required">*</span></label>
                                                    <div class="col-md-6 col-sm-6">
                                                        <input class="col-md-12 col-sm-12 form-control email"
                                                            th:value="${memberInfo.userEmail}" id="userEmail" name="userEmail" required="required"
                                                            type="email" />
                                                    </div>
                                                </div>
                                                <br>

                                                <div class="field item form-group">
                                                    <label class="col-form-label col-md-1 col-sm-3 label-align"><b>생년월일</b><span
                                                        class="required">*</span></label>
                                                    <div class="col-md-6 col-sm-6">
                                                        <input class="form-control date"
                                                            th:value="${memberInfo.birth}" readonly>
                                                    </div>
                                                </div>
                                                <br>
                                                
                                                <div class="field item form-group">
                                                    <label class="col-form-label col-md-1 col-sm-3 label-align"><b>연락처</b><span
                                                        class="required">*</span></label>
                                                    <div class="col-md-6 col-sm-6">
                                                        <input class="form-control tel" type="tel"
                                                            th:value="${memberInfo.userTel}" id="userTel" name="userTel" required='required' />
                                                    </div>
                                                    <p id="telChk"></p>
                                                </div>
                                                <br>                                         

                                                <div class="ln_solid">
                                                    <br>
                                                    <div class="form-group">
                                                        <div class="col-md-6 offset-md-3">
                                                            <button id="submit" type='submit' class="btn btn-primary"><b>수정</b></button>
                                                            <button type='reset' class="btn btn-dark"><b>취소</b></button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </tr>
                                        <tbody>
                                    </table>
                                </form>
                            </div>
                            
  <!-- insert modal 1 -->
  <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <form name="form" th:role="form" th:action="@{modPw}" method="POST">
      <div class="modal-content" style="border: none;">
        <div class="modal-header" style="display: flex; align-items: center; justify-content: space-between; width:100%;height:50px; background-color: #2A3F54;">
          	<h5 class="modal-title" id="myModalLabel" style="color:white; font-weight: bold; "> 비밀번호 변경</h5>
          	<button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="color:white;">×</button>
        </div>
        <div class="modal-body">
        
          <input type="hidden" class="form-control" name="userId" th:value="${session.login.userId}" />
          <table>
            <tbody>
            	<tr th:each="memberInfo : ${memberList}">
            		<div class="form-group">
              			<label style="color:black; margin-left: 5px; font-size: 14px; font-weight: bold;">비밀번호<span
                                                        class="required">*</span></label>
             			<input class="form-control" type="password" id="userPw2" name="userPw2" placeholder="문자, 숫자, 기호를 조합하여 10자 이상 입력" />
            		</div>
            		<p id="pwChk"></p>
            
		            <div class="form-group">
		              <label style="color:black; margin-left: 5px; font-size: 14px; font-weight: bold;">비밀번호 재입력<span
		                                                        class="required">*</span></label>
		              <input class="form-control" type="password"
		                                                            id="userPwChk" name="userPwChk" placeholder="비밀번호 재입력"/>
		              <input type="hidden" id="userPw" name="userPw" th:value="${memberInfo.userPw}"/>
		            </div>
					<p id="pwChk2"></p>
				</tr>
			  </tbody>
			</table>
        </div>
        
        <div class="modal-footer" style="display: flex; align-items: center; justify-content: flex-end; width:100%;height:50px; background-color: #2A3F54;">
          <button id="modalModBtn" type="submit" class="btn btn-warning" style="border: none; font-weight: bold; color:white; background: #035785; height: 30px;">수정</button>
        </div>
      </div>
    </form>
    </div>
  </div>
  <!-- /insert modal -->
  
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
function hideshow(){
    var password = document.getElementById("userPw");
    var slash = document.getElementById("slash");
    var eye = document.getElementById("eye");
    
    if(password.type === 'password'){
        password.type = "text";
        slash.style.display = "block";
        eye.style.display = "none";
    }
    else{
        password.type = "password";
        slash.style.display = "none";
        eye.style.display = "block";
    }
}
    
    // 주소 API
    function execDaumPostcode() {
        console.log('test');

        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var roadAddr = data.roadAddress; // 도로명 주소 변수
                var extraRoadAddr = ''; // 참고 항목 변수

                // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                    extraRoadAddr += data.bname;
                }
                // 건물명이 있고, 공동주택일 경우 추가한다.
                if(data.buildingName !== '' && data.apartment === 'Y'){
                   extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                }
                // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                if(extraRoadAddr !== ''){
                    extraRoadAddr = ' (' + extraRoadAddr + ')';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                //document.getElementById('sample4_postcode').value = data.zonecode;
                document.getElementById("userAddr").value = roadAddr;
                //document.getElementById("sample4_jibunAddress").value = data.jibunAddress;
            }
        }).open();
    }
    
    $(document).ready(function () {
    	
        const getPwCheck = RegExp(/([a-zA-Z0-9].*[!,@,#,$,%,^,&,*,?,_,~])|([!,@,#,$,%,^,&,*,?,_,~].*[a-zA-Z0-9])/);
        
        // 비밀번호 입력값 유효성 검사
        $('#userPw2').keyup(function() {
            if(!getPwCheck.test($(this).val()) || $(this).val().length < 10 ) {
                $(this).css('background-color', 'pink');
                $('#pwChk').html('<b style="font-size: 14px; color: red">[문자, 숫자, 기호를 조합하여 10자 이상 입력하세요.]</b>');
                false;
            } else {
                $(this).css('background-color', 'white');
                $('#pwChk').html('<b style="font-size: 14px; color: green">[사용 가능한 비밀번호입니다.]</b>');
                true;
            }
        })
        
        // 비밀번호 확인
        $('#userPwChk').keyup(function() {
            if($(this).val() === '') {
                $(this).css('background-color', 'pink');
                $('#pwChk2').html('<b style="font-size: 14px; color: red">[비밀번호 확인은 필수입니다.]</b>');
                false;
            } else if($(this).val() != $('#userPw2').val()) {
                $(this).css('background-color', 'pink');
                $('#pwChk2').html('<b style="font-size: 14px; color: red">[비밀번호가 일치하지 않습니다.]</b>');
                false;
            } else {
                $(this).css('background-color', 'white');
                $('#pwChk2').html('<b style="font-size: 14px; color: green">[비밀번호가 일치합니다.]</b>');
                var userPwChk = $('#userPwChk').val(); // 다시 셋팅하기
                $('#userPw').val(userPwChk);
                true;
            }
        })

        // 연락처
        $('#userTel').keyup(function() {
            $(this).val( $(this).val().replace(/[^0-9]/g, "").replace(/(^02|^0505|^1[0-9]{3}|^0[0-9]{2})([0-9]+)?([0-9]{4})$/,"$1-$2-$3").replace("--", "-"));
            
            if($(this).val().length > 13 ) {
                $(this).css('background-color', 'pink');
                $('#telChk').html('<b style="font-size: 14px; color: red">[입력값을 확인해 주세요.]</b>');
                chk5 = false;
            } else {
                $(this).css('background-color', 'white');
                $('#telChk').html('');
                chk5 = true;
            }
        }) 
    })
    
    // 파일 사이즈, 타입 제한
	var regex = new RegExp("(.*?)\.(exe|sh|zip|alz)$");
	var maxSize = 5242880;

	function checkExtension(fileName, fileSize) {
		if (fileSize >= maxSize) {
			alert("파일 사이즈 초과");
			return false;
		}

		if (regex.test(fileName)) {
			alert("해당 종류의 파일은 업로드할 수 없습니다.");
			return false;
		}
		return true;
	}
	
	function profileImg() {
		var preview = document.getElementById('fileName');
        var file = document.getElementById('profileImg1').files[0];
        var reader = new FileReader();
        
        console.log(preview);
        console.log(file);

        reader.onloadend = function() {
            preview.src = reader.result;
        }
        if (file) {
            reader.readAsDataURL(file);
        } else {
            preview.src = "";
        }
	}
	
	// 비밀번호 변경 버튼
    $('#pwModBtn').on("click", function() {
    	$('#myModal').modal("show");
    })
	
</script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</html>