<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layoutMagement}">
<head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
<meta charset="UTF-8">
<title>oh-nong!</title>
<style>
.find-btn{
    text-align: center;
}
.find-btn1{
    display :inline-block;
}
.label-align {
    text-align: left;
}
</style>
</head>
</th:block>
<th:block layout:fragment="script">
</th:block>
<div layout:fragment="contentMagement">

    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 ">
                <h3 style="text-align:left"><b>👨‍🌾 회원 정보</b></h3>
                    <div class="x_panel">
                        <div class="x_title">
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i
                                        class="fa fa-chevron-up"></i></a></li>
                                <li class="dropdown"><a href="#" class="dropdown-toggle"
                                    data-toggle="dropdown" role="button" aria-expanded="false"><i
                                        class="fa fa-wrench"></i></a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#">Settings 1</a> <a
                                            class="dropdown-item" href="#">Settings 2</a>
                                    </div></li>
                                <li><a class="close-link"><i class="fa fa-close"></i></a></li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="col-md-3 col-sm-3  profile_left">
                                <div class="profile_img">
                                    <div id="crop-avatar">
                                        <!-- Current avatar -->
                                        <table>
                                        <tr th:each="memberInfo : ${memberList}">
                                        <td><img class="img-responsive avatar-view"
                                            th:src="|/ohnong/home/ubuntu/etc/${memberInfo.filePath}|" alt="Avatar"
                                            title="Change the avatar"
                                            style="max-width: 70%; height: auto;"></td>   
                                        </tr>
                                        </table>
                                    </div>
                                </div>
                                <br>
                                
                                <div style="width: 300px">
                                <a class="btn btn-success" th:href="@{'/memberMod?userId='+ ${session.login.userId}}"><i class="fa fa-edit m-right-xs"></i><b>정보 수정</b></a>
                                <button type="button" th:id="deleteBtn+${session.login.userId}" th:onclick="deleteBtn([[${session.login.userId}]])" class="btn btn-danger"><i class="fa fa-ban"></i><b>회원 탈퇴</b></button>
                                </div>
                                
                                <!-- start skills -->
                                <br>
                                <table>
                                <tr th:each="memberInfo : ${memberList}">
                                <div class="tile-stats" style="width: 229px; height: auto;">
                                    <div class="icon">
                                        <h5 style="font-size:50px">🌱</h5>
                                    </div>
                                    <th:block th:if="${memberInfo.grade == '1'}">
                                        <div class="count">관리자</div>
                                    </th:block>
                                    <th:block th:if="${memberInfo.grade == '2'}">
                                        <div class="count">일반인</div>
                                    </th:block>
                                    <th:block th:if="${memberInfo.grade == '3'}">
                                        <div class="count">농가인</div>
                                    </th:block>
                                    <h5>&nbsp;가입 형태</h5>
                                </div>
                                </tr>
                                </table>
                                <!-- end of skills -->
                            </div>
                            
                            <div class="col-md-9 col-sm-9 ">
                                <form class="" action="" method="" >
                                    <table>
                                        <tbody>
                                            <tr th:each="memberInfo : ${memberList}">
                                                <div class="field item form-group">
                                                    <label class="col-form-label col-md-1 col-sm-3 label-align"><b>아이디</b><span
                                                        class="required">*</span></label>
                                                    <div class="col-md-6 col-sm-6">
                                                        <input class="form-control"
                                                            th:value="${memberInfo.userId}" readonly />
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="field item form-group">
                                                    <label class="col-form-label col-md-1 col-sm-3 label-align"><b>이름</b><span
                                                        class="required">*</span></label>
                                                    <div class="col-md-6 col-sm-6">
                                                        <input class="form-control"
                                                            th:value="${memberInfo.Name}" readonly />
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="field item form-group">
                                                    <label class="col-form-label col-md-1 col-sm-3 label-align"><b>주소</b><span
                                                        class="required">*</span></label>
                                                    <div class="col-md-6 col-sm-6">
                                                        <input class="form-control optional"
                                                            th:value="${memberInfo.userAddr}" readonly />
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="field item form-group">
                                                    <label class="col-form-label col-md-1 col-sm-3 label-align"><b>이메일</b><span
                                                        class="required">*</span></label>
                                                    <div class="col-md-6 col-sm-6">
                                                        <input class="form-control email"
                                                            th:value="${memberInfo.userEmail}" required="required"
                                                            type="email" readonly />
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="field item form-group">
                                                    <label class="col-form-label col-md-1 col-sm-3 label-align"><b>생년월일</b><span
                                                        class="required">*</span></label>
                                                    <div class="col-md-6 col-sm-6">
                                                        <input class="form-control date"
                                                            th:value="${memberInfo.birth}" readonly />
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="field item form-group">
                                                    <label class="col-form-label col-md-1 col-sm-3 label-align"><b>연락처</b><span
                                                        class="required">*</span></label>
                                                    <div class="col-md-6 col-sm-6">
                                                        <input class="form-control tel" type="tel"
                                                            th:value="${memberInfo.userTel}" required='required' readonly />
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="field item form-group">
                                                    <label
                                                        class="col-form-label col-md-1 col-sm-3  label-align"><b>농가 여부</b><span class="required">*</span>
                                                    </label>
                                                    &nbsp;&nbsp;&nbsp;
                                                    <div class="icheckbox_flat-green" style="position: relative;">                                                    
                                                        <th:block th:if="${memberInfo.grade == '3'}">
                                                            <input type="checkbox" class="flat" checked="checked" style="position: absolute; opacity: 0;">
                                                        </th:block>
                                                        <th:block th:if="${memberInfo.grade == '2'}">
                                                            <input type="checkbox" class="flat" style="position: absolute; opacity: 0;">
                                                        </th:block>
                                                        
                                                    </div>
                                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                    <th:block th:if="${memberInfo.grade == '2'} and ${memberInfo.farmState == 'N'}">
                                                    	<button type="button" id="rBtn" class="btn btn-round btn-warning" onclick="location.href='farmRegister'"><b>농가 등록</b></button>
                                                    </th:block>
                                                    <th:block th:if="${memberInfo.farmState == 'Y'}">
                                                    	<p style="color: red">이미 농가 등록 신청이 완료되었습니다.</p>
                                                    </th:block>
                                                </div>
                                            </tr>
                                        <tbody>
                                    </table>
                                </form>
                                <form action="logout" method="post" name="logoutForm">
                                    
                                </form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
    function hideshow() {
        var password = document.getElementById("password1");
        var slash = document.getElementById("slash");
        var eye = document.getElementById("eye");

        if (password.type === 'password') {
            password.type = "text";
            slash.style.display = "block";
            eye.style.display = "none";
        } else {
            password.type = "password";
            slash.style.display = "none";
            eye.style.display = "block";
        }
    }   
    
    $(document).ready(function() {
		$('#rBtn').on('click', function(e) {
			e.stopPropagation();
		})
    })
    
    // 탈퇴 -> 업데이트
    function deleteBtn(userId) {
        let deleteBtn = document.getElementById('deleteBtn' + userId);
        let delTrTag = deleteBtn.parentElement.parentElement;
    
        Swal.fire({
            title: '회원 탈퇴하시겠습니까?',
            text: "다시 되돌릴 수 없습니다. 신중하세요.",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: '탈퇴',
            cancelButtonText: '취소'
        }).then((result) => {
            if (result.isConfirmed) {
                
                $.ajax({
                    type : 'get',
                    url : "/ohnong/memberDelete/" + userId,
                    dataType : 'text',
                    success : function(data) {
                        console.log(data);
                        if(data == 'success') {
                        const Toast = Swal.mixin({
                            toast: true,
                            position: 'center-center',
                            showConfirmButton: false,
                            timer: 3000,
                            timerProgressBar: true,
                            didOpen: (toast) => {
                              toast.addEventListener('mouseenter', Swal.stopTimer)
                              toast.addEventListener('mouseleave', Swal.resumeTimer)
                            }
                          })
                          Toast.fire({
                            icon: 'success',
                            title: '탈퇴 처리가 되었습니다.'
                          })

                          setTimeout("logoutForm.submit()", 3000);
                        } else if(data = 'fail') {
                            alert("다시 시도 바랍니다.")
                        }
                    },
                    error : function(status, error) {
                        console.log(status, error);
                    }
                })
            }
        })
        
        
    }
</script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>