<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Strict//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html
  xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layoutMagement}">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
</head>

<th:block layout:fragment="css"> </th:block>
<th:block layout:fragment="script"> </th:block>
<body class="nav-md">
<div layout:fragment="contentMagement">
        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>공지사항 <small>목록조회</small></h3>
              </div>
			<!-- 검색창 -->
              <div class="title_right">
                <div class="col-md-5 col-sm-5   form-group pull-right top_search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="검색하실 내용을 입력하세요...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">검색</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <!-- /검색창 -->

            <div class="clearfix"></div>

            <div class="row" style="display: block;">
           


              

              <div class="clearfix"></div>

              <div class="col-md-12 col-sm-12  ">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>오농 <small>오시는 길</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Settings 1</a>
                            <a class="dropdown-item" href="#">Settings 2</a>
                          </div>
                      </li>
                      <li><a class="close-link1"><i class="fa fa-close"></i></a> 
                      <!-- 닫기버튼  -->
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>

                  <div class="x_content">

                    <p>Add class <code>bulk_action</code> to table for bulk actions options on row select</p>

                    <div class="table-responsive">
					<table class="table table-striped jambo_table bulk_action">
						<thead>
							<tr class="headings">
								<th><input type="checkbox" id="check-all" class="flat">
								</th>
								<th class="column-title">글 번호</th>
								<th class="column-title">제목</th>
								<th class="column-title">작성자</th>
								<th class="column-title">등록일</th>
								<th class="column-title">조회수</th>
								<th class="column-title">카테고리</th>
								<th class="column-title no-link last"><span class="nobr">첨부</span></th>
								<th class="bulk-actions" colspan="7"><a class="antoo" style="color: #fff; font-weight: 500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="noticeInfo : ${noticeList}">
								<td class="a-center "><input type="checkbox" class="flat" name="table_records"></td>
				                <td th:text="${noticeInfo.noticeNo}"/>
				                <td th:text="${noticeInfo.noticeTitle}"/>
				                <td th:text="${noticeInfo.noticeWriter}"/>
				                <td th:text="${noticeInfo.regDate}"/>
				                <td th:text="${noticeInfo.hitCnt}"/>
				                <td th:text="${noticeInfo.noticeCategory}"/>
				                <td th:text="${noticeInfo.UUID}"/>
				                
				            </tr>
						</tbody>
					</table>
					<p th:text="${noticeList[0].noticeNo}"></p>
					<div style="text-align:right;">
                      <button type="button">저장</button>
                      <button type="button">저장</button>
                      <button type="button">저장</button>
                      W</div>
                    </div>
							
						
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->

        
      </div>
</body>
</html>